.action-group
	padding: 0 20px

	&__btn
		margin-bottom: 25px;

	&__price
		padding: 18px;
		text-align: center;
		font-size: 24px;
		color colorOrange
		font-weight: bold;

	&__link
		margin-bottom: 10px;
		btnMainInverse(#fff,colorBlue,colorBlue)

	&__pay
		padding:10px 0
		border-top 1px solid #ddd

		&-head
			font-size:22px

		&-item
			float: left
			margin: 5px 10px 0 0;

		&-desc
			margin:10px 0

	&__buy-click
		btnMain(#fff,colorOrange,colorOrange)

	.alfa
		sprite $alfa

	.web
		sprite $web

	.sber
		sprite $sber

	.visa
		sprite $visa

	.master
		sprite $master

	.paypal
		sprite $paypal

	.vtb
		sprite $vtb

	.easy
		sprite $easy

	.rapida
		sprite $rapida