.action-group
	padding-left:0px

	&__btn
		margin-bottom: 25px;

	&__sum
		text-align: center;
		padding: 15px;

	&__price
		padding: 0 4px;
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		display: inline-block;
		color colorOrange

	&__amount
		display: inline-block

		&-label
			padding: 0 5px;

		&-input
			width: 45px;
			border: 1px solid #ddd;
			border-radius: 4px;
			padding: 3px;
			text-align: center;

	&__link
		margin-bottom: 10px;
		btnMainInverse(#fff,colorBlue,colorBlue)

	&__pay
		padding:10px 0
		border-top 1px solid #ddd

		&-head
			font-size:22px

		&-item
			float: left
			margin: 5px 10px 0 0;

		&-desc
			margin:10px 0

	&__buy-click
		btnMain(#fff,colorOrange,colorOrange)
		width:100%

	.alfa
		sprite $alfa

	.web
		sprite $web

	.sber
		sprite $sber

	.visa
		sprite $visa

	.master
		sprite $master

	.paypal
		sprite $paypal

	.vtb
		sprite $vtb

	.easy
		sprite $easy

	.rapida
		sprite $rapida