.tour
	background-color #e8e5dc
	background-position center
	background-repeat no-repeat
	border-radius 4px
	box-sizing border-box
	color #fff
	display inline-block
	font-size 14px
	height 230px
	margin-bottom 10px
	overflow hidden
	position relative
	text-align left
	vertical-align top
	width 312px
