mixin side-company()
	+b.side-company&attributes(attributes)
		+e().head
			+e().head-text О компании
		+e().content
			+e('p').text Магазин "Барон" — магазин сантехники отечественного и зарубежного производства. Выбор любого товара в нашем магазине – это увлекательный процесс, максимально упрощенный для покупателя.
			+e('p').text Магазин "Барон" работает для тех, кто по-настоящему ценит свое время. Кто не желает тратить его на пробки по пути в магазин, очереди и бесконечный изматывающий процесс «выбирания» из сотни похожих вариантов. Мы помогаем выбирать то, что нужно — и быстро