include ../content/content
include ../container/container
include ../subtitle/subtitle
include ../heading/heading
include ../menu/menu
include ../tours/tours
include ../blocks/blocks
include ../sort-products/sort-products
include ../side-products/side-products
include ../articles/articles
include ../side-company/side-company
include ../questions/questions
include ../brends/brends
include ../footer/footer

mixin index()
	- var sideBarName = ['Распродажа','Акция']
	+b.content
		+b.inner.clearfix
			+b.content__side.col-sm-3
				+e.item
					each name in ['Распродажа','Новое поступление']
						+side-products(getData('sort-products'),name)
				+e.item
					+side-company()
				+e.item
					+questions()
			+b.content__main.col-sm-9
				+e.item
					+blocks()
				+e.item
					+sort-products(getData('sort-products'))
				+e.item
					+articles()
			+brends(getData('brends'))
	+footer()
	//+b.index
		+content()
			.index__group
				+subtitle()
					| ЧТО В КОРОБКЕ

			+heading()
				| Инструменты

			.index__group
				+list(getData('tools'))

			.index__group
				+subtitle()
					| СТРУКТУРА ФАЙЛОВ

			+container()
				+col()
					+heading()
						| Исходники
					+tree(getData('source-tree'))

				+col()
					.index__arrow
						+arrow()
							| Сборка

				+col()
					+heading()
						| Готовые файлы
					+tree(getData('build-tree'))

			+fork()
