include ../content/content
include ../container/container
include ../subtitle/subtitle
include ../heading/heading
include ../menu/menu
include ../tours/tours
include ../blocks/blocks
include ../sort-products/sort-products
include ../side-products/side-products
include ../articles/articles
include ../side-company/side-company
include ../questions/questions
include ../brends/brends
include ../footer/footer

mixin index()
	- var sideBarName = ['Распродажа','Новое поступление']
	+b.content
		+b.inner.clearfix
			+b.content__side.col-sm-3
				+e.item
					//сайдбар
					each name in sideBarName
						//слайдер товаров в сайд баре
						+side-products(getData('sort-products'),name)
				+e.item
					//блок о компании
					+side-company()
				+e.item
					//блок вопросов
					+questions()
					//главный контент
			+b.content__main.col-sm-9
				+e.item
					//инфо блок
					+blocks()
				+e.item
					//слайдер товаров
					+sort-products(getData('sort-products'))
				+e.item
					// блок статьи
					+articles()
					//слайдер брендов
			+brends(getData('brends'))
	+footer()
