include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../header/header
include ../box/box
include ../footer/footer
include ../scripts/scripts


doctype html
html(lang='ru')
	include ../head/head
	+page
		block header
		block content

		+scripts(['jquery.min.js','jquery.flexslider.js','owl.carousel.min.js','ion.rangeSlider.min.js','jquery.inputmask.bundle.js','bootstrap.min.js','app.min.js'])