mixin questions()
	+b.questions&attributes(attributes)
		+e().item
			+e('a').item-link.fa.fa-hand-o-right Как выбрать сантехнику?
		+e().item
			+e('a').item-link.fa.fa-youtube Видео по установке сантехники
		+e().item
			+e('a').item-link.fa.fa-check-square Гарантия на сантехнику
		+e().item
			+e('a').item-link.fa.fa-hand-o-up Полезные советы