.questions
	background: colorOrange
	color: #fff;
	padding: 11px 0;

	&__item
		padding: 8px 15px;

		&-link
			color: #fff;
			font-size: 18px;
			linkHover(20px,#fff)
			display: inline-block

			&:before
				margin-right: 5px