.props-group
	text-align: center

	&__title
		font-size: 18px;
		font-weight: bolder;
		padding: 10px;

	&__item
		padding: 10px;
		border-top: 1px solid #ddd;

		&-head
			display: inline-block;
			width: 49%;

		&-value
			display: inline-block;
			width: 49%;