.filter
	border: 1px solid colorBlue
	padding:12px
	&__title
		padding: 12px;
		background: #fff
		color: #fff
		background: colorBlue

	&__head
		background: colorBlue
		color: #fff;
		padding:10px

	&__from
		float: left
		padding: 7px
		color: #fff
		margin-top: 15px
		background: colorBlue

	&__to
		float: right
		padding: 7px
		color: #fff
		margin-top: 15px;
		background: colorBlue

	&__btns
		padding 15px 0;
		border-top 1px solid colorBlue

		&-show
			btnMain(#fff,colorBlue,colorBlue)
			width: 100%
			margin-bottom 10px
		&-clear
			width: 100%
			btnMain(#fff,colorBlue,colorBlue)

.filter-item
	&__head
		border: 1px solid colorBlue
		color: colorBlue
		padding:10px

	&__from
		float: left;
		padding: 7px;
		color: #fff
		background: colorBlue

	&__to
		float: right;
		padding: 7px;
		color: #fff
		background: colorBlue
		
	&__boxes
		padding: 3px
		
	&__box
		padding:10px 0

		&-input
			display: none

			&:checked + label::before
				background: colorBlue

		&-label
			cursor: pointer;

			&:before
				content: "";
				display: inline-block;
				height: 18px;
				width: 18px;
				border: 1px solid colorBlue
				background: #fff
				vertical-align: bottom
				margin-right:4px

	.irs
		margin: 15px 0
		clear: both

	.irs-slider
		cursor: pointer