.tour-filters
	clear: both;
	color: #333;
	float: left;
	font: 16px Roboto, Arial, sans-serif;
	position: relative;
	white-space: nowrap;

	&__item
		border: solid 1px #b3b3ac;
		border-radius: 3px;
		cursor: pointer;
		display: inline-block;
		line-height: 34px;
		margin-right: 5px;
		padding: 0 10px;

.filter-selected
	border-color: #666;
	cursor: default;