mixin tourFilter()
	+b.tour-filters&attributes(attributes)
		+e('button')#filter-all.item.filter-selected Все
		+e('button')#filter-expensive.item Сначала дорогие
		+e('button')#filter-cheap.item Сначала дешевые
		+e('button')#filter-2stars.item
		+e('button')#filter-6rating.item