.sort-products
	overflow: hidden;
	padding: 45px 0 0 0px;

	&__nav
		width: 100%
		text-align: center
		margin-bottom: 20px

		&-item
			display: inline-block
			margin-right: 8px;

		&-link
			btnMainInverse(#fff,colorBlue,colorBlue)

	&__items
		overflow: hidden;
	&__list
		position: relative

		
	&__item
		padding: 0 10px;
		position: relative

	.owl-btns
		owl-btns(colorBlue)