.top
	background: white
	border-bottom: 1px solid #ddd;
	box-shadow: 0 2px 0 0 white;
	width: 100%
	font-size: 14px
	height: 45px


.options
	float: left

.auth-block
	position: relative
	float: right

	.menu-top
		display: none


	&__inner
		padding 14px 15px


.drop-menu
	position: absolute
	top 42px
	right: 0
	border: 1px solid #ccc;
	background: #fff;
	border-radius: borderRadius
	padding: 5px 0;
	width: 150px
	z-index: 9999;

	&.dropdown-menu
		left:-104px

	&__item
		&:hover
			background: #ddd

	&__link
		display: block
		width: 100%
		padding: 5px 30px
		cursor: pointer

		&:hover
			text-decoration: none

.menu-top
	background: colorBlue
	border-radius: borderRadius
	padding: 12px

	&__item
		padding: 3px 12px;
		float: left

		&:first-child
			border-right: 1px solid rgba(255, 255, 255, 0.57);

	&__text
		display: none
			
	&__link
		linkHover(20px,#fff)

	&__value
		padding: 0px 7px
		background: #fff
		color colorBlue
		border-radius: borderRadius

.drop-btn
	float: right
	background: colorBlue
	border: none;
	padding: 10px 15px
	display: block
	border-radius: borderRadius

	&:before
		content: ""
		display: block
		sprite $user