.cart-line

.cart
	
	&__button
		width: 100%
		padding: 5px 15px;
		background: colorBlue
		border: none;
		border-radius: 5px;
		
	&__icon
		color #fff
		font-size: 32px
		float: left
		margin-top: 3px;

	&__text
		margin-left: 15px;
		font-size: 14px;
		text-align: left;
		float: left;
		color #fff