@media (min-width: 768px)
	.menu-top

		&__text
			display: inline-block
	.auth-block
		.menu-top
			display: inline-block

	.drop-btn
		display: none
		padding: 12px 15px

	.drop-menu
		width: 100%

	.slider
		float right
		padding-left:20px

		&__list
			height: 385px;

	.breadcrumb
		display: block

	.info-customer
		padding: 35px 0 0 35px

	.blocks
		&__inner
			padding-left: 15px;

	.sort-products
		&__nav
			&-item
				margin-right: 10px;

	.description
		&__text
			display: inline-block

	.action-group
		padding-left:35px

	.footer
		&-column
			margin-bottom: 0

	.public
		text-align left