@media (min-width: 520px)
	.cat-products
		&__item
			width: 50%;
@media (min-width: 768px)

	.content
		&__main
			padding: 30px 0 15px 20px;

	.menu-top

		&__text
			display: inline-block
	.auth-block
		.menu-top
			display: inline-block

	.drop-btn
		display: none
		padding: 12px 15px

	.drop-menu
		width: 100%

	.slider
		float right
		padding-left:20px

		&__list
			height: 385px;

	.breadcrumb
		display: block

	.info-customer
		padding: 35px 0 0 35px

	.sort-products
		&__nav
			&-item
				margin-right: 10px;

	.description
		&__text
			display: inline-block

	.action-group
		padding-left:35px

	.product
		&__text
			text-align: left

	.footer
		&-column
			margin-bottom: 0

	.public
		text-align left

@media (min-width: 992px)
	.cat-products
		&__item
			width: 33%;