.side-products
	display block

	&__content
		overflow: hidden;
		position: relative
		
	&__list
		position: relative

	&__head
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;

		&-text
			padding: 15px 0;
			display: inline-block;
			border-top: 2px solid colorOrange;
			margin-top: -1px;
			border-bottom: 2px solid #eea236;
			margin-bottom: -1px;

.product-side
	padding-top: 15px;
	text-align: center;

	&__link
		display: block
		
	&__price
		margin-top: 15px
	
	&__price-old
		margin-right: 18px;
		display: inline-block
		
	&__price-new
		color: colorOrange
		font-weight: bold
		display: inline-block

	&__text
		margin-top: 7px;
