.side-products
	display block

	&__content
		height: 500px;
		overflow: hidden;
		position: relative
		
	&__list
		position: relative

.product-side
	//margin-top: 20px
	&__link
		display: block

	&__img
		float: left
		
	&__price
		float: left
		margin-top: 15px
	
	&__price-old
		float: left
		margin-right: 18px;
		
	&__price-new
		float: left
		color: colorOrange
		font-weight: bold