.search-line
	margin: 20px 0

.search
	position: relative

	&__input
		border: 1px solid #ccc;
		padding: 11px 10px;
		border-radius: 5px;
		width: 100%;
		font-size: 18px

	&__button
		position: absolute;
		right: 0;
		top: 0;
		padding: 5px 20px;
		height: 48px;
		border: 1px solid colorBlue
		background: colorBlue
		border-radius: 0 borderRadius borderRadius 0;
		color #fff


		&:hover
			background: #fff
			color colorBlue

@media (min-width: 768px)
	.search-line
		margin 0
		padding: 0px 20px;