.sub-cat
	&__title
		font-size: 30px;
		text-align: center;

	&__list
		//padding:10px

	&__item
		text-align: center;
		padding:15px

	&__outer
		padding:10px

	&__link
		color: #337ab7;
		border: 1px solid #337ab7;
		padding: 15px;
		display: block;
		cursor: pointer


		&:hover
			text-decoration: none
			color: #fff
			background: colorBlue
			transition: all 0.4s