include /blocks/cart-page/cart-page
extends /blocks/layout-default/layout-default
//корзина
block head
   - var pageTitle = 'Вся сантехника';

block header
   +header('cart')

block content
   +cart-page()

