include /blocks/category/category
extends /blocks/layout-default/layout-default
//страница категорий
block head
   - var pageTitle = 'Вся сантехника';

block header
   +header('category')

block content
   +category()
