include /blocks/compare/compare
extends /blocks/layout-default/layout-default
//страница сравнения товаров
block head
   - var pageTitle = 'Вся сантехника';

block header
   +header('compare')

block content
   +compare()

