include /blocks/detail/detail
extends /blocks/layout-default/layout-default
//карточка товара
block head
   - var pageTitle = 'Вся сантехника';

block header
   +header('detail')

block content
   +detail()
