.info-product
	padding: 35px 0 0 0
	&__header
		header-3(colorBlue)

	&__item
		&:last-child
			border-bottom: 1px colorGreyLigth   solid;

	&__item-name
		padding: 10px;
		border: 1px colorGreyLigth   solid;
		border-bottom: none;
		border-right: none

	&__item-value
		padding: 10px;
		border: 1px colorGreyLigth   solid;
		border-bottom: none;