include ../gallery/gallery
include ../breadcrumb/breadcrumb
include ../info-product/info-product
include ../info-customer/info-customer
include ../action-group/action-group
include ../description/description
include ../sort-products/sort-products
include ../footer/footer

mixin detail()
	-var bread  = ['Смесители','Смеситель Grohe Eurosmart 33300001 для ванны с душем']
	+b.content
		+b.inner.clearfix
			+b.content__item.clearfix
				+breadcrumb(bread)
			+b('h1').header-product Смеситель Grohe Eurosmart 33300001 для ванны с душем
			+b.content__item.clearfix
				+gallery()
				+b.col-sm-6
					+action-group()
			+b.content__item.clearfix
				+info-product(getData('info-product'))
				+info-customer()
			+b.content__item.clearfix
				+description()
			+b.content__item.clearfix
				+sort-products(getData('detail-products'))
	+footer()
