include ../logo-menu/logo-menu
include ../top/top
include ../menu/menu
include ../search/search
include ../cart/cart
include ../catalog-line/catalog-line

mixin header(page)
	+b('header').header
		+top()
		+logo-menu()
		+b.catalog-line
			+b.inner.clearfix
				+b.col-sm-6
					+catalog-line(getData('catalog'),page)
				+b.search-line.col-sm-12
					+search()
				+b.cart-line.col-sm-6
					+cart()
		//+menu


