.menu
	width: 100%
	position: relative
	margin: 0 auto
	height: 60px;
	background: colorGrey
	&__list
		max-width 1230px
		padding: 0 15px
		position: relative;
		right: 50%;
		float: right;
		height: 60px;

	&__item
		position: relative;
		left: 50%;
		float: left;
		height: 60px;

	&__link
		padding: 10px 15px
		width: auto
		background: colorGrey/*#337ab7;*/
		border-right: 1px solid #fff;
		color: #fff;
		display: block;
		height: 60px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		&:hover
			color #fff
			text-decoration: none;
			background: #222;
			-webkit-transition: background 0.5s ease;
			-moz-transition: background 0.5s ease;
			-o-transition: background 0.5s ease;
			-ms-transition: background 0.5s ease;
			transition: background 0.5s ease;



	&__notice
		font-size: 11px
		display: block;
		color: white
		margin-top: 5px;
		text-transform: none