include ../breadcrumb/breadcrumb
include ../filter/filter
include ../sub-cat/sub-cat
include ../sort-cat/sort-cat
include ../cat-products/cat-products
include ../sort-products/sort-products
mixin category()
	-var bread  = ['Смесители']
	+b.content
		+b.inner.clearfix
			+b.content__item.clearfix
				+breadcrumb(bread)
			+b.content__side.col-sm-3
				+filter(getData('filter'))
			+b.content__main.col-sm-9
				+e.item
					+sub-cat()
					+sort-cat()
					+cat-products(getData('products'))
					+sort-products(getData('detail-products'))
	+footer()