

mixin gallery()
	+b.gallery.clearfix.col-sm-6
		+e.main
			+e('img').main-img(src = 'assets/images/products/faucet-1.png')
		+e.items
			+e.block
				+e('img').img(src = 'assets/images/products/faucet-4.png')
			+e.block
				+e('img').img(src = 'assets/images/products/faucet-4.png')
			+e.block
				+e('img').img(src = 'assets/images/products/faucet-1.png')
			+e.block
				+e('img').img(src = 'assets/images/products/faucet-1.png')

		+b.gallery-modal.hidden
			+e.name
			+e.preview
				+e.preview-img(src = 'assets/images/products/faucet-1.png')
			+e.thumbnails.clearfix
				+e.thumbnails-item
					+e('img').thumbnails-images(src = 'assets/images/products/faucet-1.png')
				+e.thumbnails-item
					+e('img').thumbnails-images(src = 'assets/images/products/faucet-2.png')
				+e.thumbnails-item
					+e('img').thumbnails-images(src = 'assets/images/products/faucet-4.png')