.description
	padding: 35px 0;

	&__nav
		&-list
			border-bottom: 1px solid colorBlue
			height: 42px;

		&-item
			float: left
			margin-bottom: -1px;
			margin-right: 5px;
			height: 42px;

			&:first-child
				margin-left: 30px;

		&-link
			border: 1px solid colorBlue
			border-bottom: none
			padding: 10px 15px
			display: block
			background: #fff;
			height: 35px;

			&:hover
				text-decoration: none
			&:focus
				text-decoration: none

	&__item
		border: 1px solid colorBlue
		border-top: none
		padding: 15px;

	&__text
		display: none