.arts
	padding: 15px 0 0 20px

	&__inner
		border: 1px solid #ddd;
		box-shadow: 0 3px 10px rgba(0,0,0,0.1);
		border-radius: 4px;

	&__heading
		background: #337ab7;
		border-radius: 4px 4px 0 0;
		padding: 12px;
		color: #fff;

		&-head
			float: left
			font-size: 18px;

			&:before
				margin-right: 7px;

		&-all
			float: right
			color: #fff;
			linkHover(20px,#fff)

			&:hover
				text-decoration: none

	&__body

	&__item
		padding: 10px;
		border-bottom: 1px solid #ddd;

		&:last-child
			border-bottom:none

		&-name
			padding: 5px 0;
			font-weight: bold;

		&-date
			font-size: 12px;
			color: #777;
			padding: 10px 0;

			&:before
				margin-right: 5px