mixin articles()
	+b.arts&attributes(attributes)
		+e.inner
			+e().heading.clearfix
				+e.heading-head.fa.fa-list-alt Статьи
				+e('a').heading-all Вcе статьи
			+e().body
				+e().item
					+e.item-name
						+e('a').item-link Как выбрать душевой поддон
					+e().item-date.fa.fa-calendar 24.04.16
					+e().item-desc Сегодня, в продаже доступны душевые поддоны самых различных конфигураций. Это квадратные, прямоугольные, треугольные, радиальные, круглые, пятиугольные, в форме улитки и прочего. Однако наибольшую распространенность все же имеют эргономические модели поддонов, которые позволят использовать пространство ванной комнаты максимально эффективно.
				+e().item
					+e.item-name
						+e('a').item-link Как выбрать душевой поддон
					+e().item-date.fa.fa-calendar 24.04.16
					+e().item-desc Сегодня, в продаже доступны душевые поддоны самых различных конфигураций. Это квадратные, прямоугольные, треугольные, радиальные, круглые, пятиугольные, в форме улитки и прочего. Однако наибольшую распространенность все же имеют эргономические модели поддонов, которые позволят использовать пространство ванной комнаты максимально эффективно.