mixin slide()
	+b.slide.flexslider&attributes(attributes)
		+e('ul').list.slides
			+e('li').item
				+e('img').img(src='assets/img/slide/slide-1.jpg')
			+e('li').item
				+e('img').img(src='assets/img/slide/slide-2.jpg')
			+e('li').item
				+e('img').img(src='assets/img/slide/slide-3.jpg')
			+e('li').item
				+e('img').img(src='assets/img/slide/slide-4.jpg')
			+e('li').item
				+e('img').img(src='assets/img/slide/slide-5.jpg')
			+e('li').item
				+e('img').img(src='assets/img/slide/slide-6.jpg')
			+e('li').item
				+e('img').img(src='assets/img/slide/slide-7.jpg')
