.footer
	background: colorBlack
	padding: 50px 0

.footer-column
	&__list
		display: inline-block;
		border-top: 2px solid colorOrange;
	&__item
		padding: 5px 5px 5px 0

	&__link
		color colorGreyWhite

		&:hover
			text-decoration: none
			color colorOrange
			cursor: pointer
.public
	color colorGreyWhite