.logo-menu
	padding: 15px 0
	/*background: colorBlueLigth*/
.logo
	float: left
	text-align: center
	
	&__link
		display: block
		sprite $drop
		margin: 0 auto

	&__text
		display: block
		padding: 10px 0 0 10px;


		&-head
			font-size: 48px;
			font-weight: bold;
			color colorBlue
			display: block

			&:hover
				text-decoration: none
				color colorBlue
			
		&-desc
			font-size: 14px
			margin-top: 5px

.phone
	float: right

	&__img
		font-size: 20px;
		margin: 1px 10px 0 0;

	&__group
		text-align: center;
		margin-top 25px

	&__tel
		font-size: 20px
		margin-top: 10px

	&__desc
		margin-top: 10px

	&__callback
		margin-top: 6px

		&-link
			btnMain(#fff,colorOrange,colorOrange)

.main-menu
	text-align: center
	margin: 0 auto
	padding: 15px 0;
	position: relative
	


	&__item
		display: inline-block
		margin-left: 18px;
		position: relative
		margin-top: 15px

	&__link
		linkHover(20px,colorBlue)

.call-back
	&__info
		padding: 0 15px;

		&-item
			border-radius: 4px;
			border: 1px solid #ddd;
			font-size: 14px;
			padding: 10px;
			width:100%

			&:first-child
				margin-bottom:20px
	&__btn
		btnMain(#fff,colorBlue,colorBlue)
		margin: auto

		&[disabled]
			opacity:0.5

			&:hover
				background: colorBlue
				color: #fff

.modal
	&-content
		text-align: center
		width:330px
		margin: 30% auto;
		
	&-header
		color: #fff
		background: colorBlue
		border-radius: 4px 4px 0 0;

@media (min-width: 992px)
	.logo

		&__link
			float: left

		&__text
			float left

	.phone

		&__group
			float: right
			margin-top: 0

		&__img
			float: left;

	.main-menu
		padding: 40px 0;
	
		&__item
			margin-top: 0px