.brends
	float: left
	width: 100%
	padding: 20px 0;
	position: relative

	&__list
		border: 1px solid #ddd;
		border-radius: 6px;
		box-shadow: 0 3px 10px rgba(0,0,0,.1);
		padding: 0px 30px;

	&__item
		width:200px
		text-align: center;
		margin: 0 auto;

	&__link
		display: block

	&__image
		display: block

	&__prev
		display: inline-block;
		cursor: pointer;
		padding: 0 2px;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-right: 20px solid colorBlue
		border-bottom: 10px solid transparent;
		position:absolute;
		opacity 0.6
		top: 60px;
		left: 0

	&__next
		display: inline-block;
		cursor: pointer;
		padding: 0 2px;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-left: 20px solid colorBlue;
		border-bottom: 10px solid transparent;
		position: absolute;
		opacity 0.6
		top: 60px;
		right:0;
