mixin blocks()
	+b.blocks.clearfix
		+e.item
			+e.icon
				+b('i').fa.fa-desktop
			+e('p').text Быстрый заказ - возможность приобрести товар без корзины. Введите только номер телефона!
		+e.item
			+e.icon
				+b('i').fa.fa-desktop
			+e('p').text Быстрый заказ - возможность приобрести товар без корзины. Введите только номер телефона!
