mixin blocks()
	+b.blocks.clearfix
		+b.blocks__inner.col-sm-12
			+b.blocks__item
				+b.blocks__icon
					+b('i').fa.fa-desktop
				+b('p').blocks__text Быстрый заказ - возможность приобрести товар без корзины. Введите только номер телефона!
		+b.blocks__inner.col-sm-12
			+b.blocks__item
				+b.blocks__icon
					+b('i').fa.fa-desktop
				+b('p').blocks__text Быстрый заказ - возможность приобрести товар без корзины. Введите только номер телефона!
