.blocks
	&__inner
		padding: 0 10px
	
	&__item
		float: left
		border: 1px solid #ddd;
		box-shadow: 0 3px 10px rgba(0,0,0,.1);
		padding: 12px
		border-radius borderRadius

		&:hover .blocks__icon
			color: #fff;
			background: colorGrey


	&__icon
		background: transparent;
		width: 60px;
		height: 60px;
		border-radius: 500px;
		border: 1px solid colorGrey
		color: colorGrey
		font-size: 18px;
		line-height: 132px;
		position: relative;
		transition: all 0.3s;
		float: left
		margin-right: 10px;

		i
			position: absolute;
			top: 40%;
			left: 35%;
			
	&__text
		margin-top: 5px